<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>買い物計算アプリ</title>
<link th:href="@{style.css}" rel="stylesheet" type="text/css">
</head>
<body>
	
	<h1>買い物計算アプリ</h1>
	<form method="post" th:action="@{/home/edit}" th:object="${merchandiseList}">
		<p th:text="${m1}" class="money"></p>
		所持金　<input type="number" th:field="*{money}">
		<button type="submit" name="money_edit">決定</button>
		
		<table>
			<thead>
				<tr>
					<th>商品名</th>
					<th>値段</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="merchandise, mStat : *{merchandises}">
					<td>
						<input type="text" th:field="*{merchandises[__${mStat.index}__].name}">
					</td>
					<td>
						<input type="text" th:field="*{merchandises[__${mStat.index}__].price}">
					</td>
					<td>
						<button type="submit" name="remove" th:value="${mStat.index}">削除</button>
					</td>
				</tr>
			</tbody>
		</table>
		<button type="submit" name="add">追加</button>
	</form>
	<p th:text="${m2}" class="money"></p>
	
	
</body>
</html>