<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>買い物計算アプリ</title>
<link th:href="@{style.css}" rel="stylesheet" type="text/css">
</head>
<body>
	
	<h1>買い物計算アプリ</h1>
	<form method="post" th:action="@{/home/edit}" th:object="${merchandiseList}">
		<p th:text="${m1}" class="money"></p>
		所持金　<input type="number" th:field="*{money}">
		<button type="submit" name="money_edit">決定</button><br>
		
		商品を追加
		<table>
			<tbody>
				<tr>
					<td>
						<input type="text" name="m_name">
					</td>
					<td>
						<input type="number" name="m_price">
					</td>
				</tr>
			</tbody>
		</table>
		
		<button type="submit" name="add">追加</button>
	
		<p th:text="${m2}" class="money"></p>
		<p th:text="${m3}" class="merchandise_add"></p>
		<table class="merchandiseListTable">
			<thead>
				<tr>
					<th>商品名</th>
					<th>値段</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="merchandise, mStat : *{merchandises}">
					<td th:text="*{merchandises[__${mStat.index}__].name}"></td>
					<td th:text="*{merchandises[__${mStat.index}__].price}"></td>
					<td><button type="submit" name="remove" th:value="${mStat.index}">削除</button></td>
				</tr>
			</tbody>
			
		</table>
		<p th:text="${m4}" class="sum_price"></p>
	</form>
</body>
</html>